<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewProd</title>
</head>

<body>
    <button> <a href="/coffee">Back</a></button>

    <h1>You are adding a new coffee type</h1>

    <form action="/insertCoffe" method="post">
    
        <div>
            <label for="">name </label>
            <input type="text" name="name" placeholder="Please add name of coffe">
        <div>
            <label for="">color</label>
            <input type="text" name="color" placeholder="Please add color of capsule">
        </div>
        <div>
            <label for="">price </label>
            <input type="number" name="price" placeholder="Please add price per 1 capsule">
        </div>

        <button> submit</button>
    </form>

</body>

</html>